h1 {
  text-align: center;
  font-size: 1.5em;
}

#fileInput, #combineButton {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
}

#combinedData {
  border-collapse: collapse;
  width: 100%;
}

#combinedData th, #combinedData td {
  border: 1px solid #ddd;
  padding: 5px;
}
